<?xml version="1.0" encoding="UTF-8"?>
<user-request>
  <data>
    <userId>{{ admin_username }}</userId>
    <email>example@domain.com</email>
    <status>active</status>
    <firstName>admin</firstName>
    <resourceURI>http://localhost:8081/nexus/service/local/roles/repository-any-full</resourceURI>
    <roles>
      <role>ui-basic</role>
        <role>maven1-all-view</role>
        <role>ui-repository-targets-admin</role>
        <role>nuget-all-full</role>
        <role>nx-apikey-access</role>
        <role>atlas</role>
        <role>ui-ldap-admin</role>
        <role>ui-logs-config-files</role>
        <role>nuget-all-view</role>
        <role>analytics</role>
        <role>repository-any-read</role>
        <role>rubygems-all-read</role>
        <role>ui-search</role>
        <role>repository-any-full</role>
        <role>ui-capabilities-admin</role>
        <role>ui-routing-admin</role>
        <role>ui-scheduled-tasks-admin</role>
        <role>ui-repo-browser</role>
        <role>nx-developer</role>
        <role>rubygems-all-view</role>
        <role>nexus-yum-admin</role>
        <role>ui-system-feeds</role>
        <role>metrics-endpoints</role>
        <role>nuget-all-read</role>
        <role>site-all-read</role>
        <role>ui-repository-admin</role>
        <role>site-all-full</role>
        <role>ui-healthcheck-read</role>
        <role>npm-all-full</role>
        <role>ui-healthcheck-full</role>
        <role>nx-deployment</role>
        <role>ui-plugin-console</role>
        <role>ui-users-admin</role>
        <role>any-all-view</role>
        <role>maven2-all-view</role>
        <role>ui-privileges-admin</role>
        <role>site-all-view</role>
        <role>ui-group-admin</role>
        <role>ui-server-admin</role>
        <role>npm-all-view</role>
        <role>ui-roles-admin</role>
        <role>nx-admin</role>
        <role>nexus-yum-user</role>
        <role>repo-all-full</role>
        <role>wonderland</role>
        <role>rubygems-all-full</role>
        <role>repo-all-read</role>
        <role>npm-all-read</role>
        <role>anonymous</role>
    </roles>
    <lastName>admin</lastName>
    <password>{{ admin_password }}</password>
  </data>
</user-request>
